body {
    margin: 0;
    padding:0;
    font-family: Arial, sans-serif;
    min-height: 100vh; 
    width:100vw
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
        "block1 block1 block1"
        "block2 block3 block4"
        "block2 block5 block4"
        "block2 block6 block6";
    
    min-height: 100vh;
}

.block {
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}

.block1 {
    grid-area: block1;
    background: #cfe2f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block2 {
    grid-area: block2;
    background: #d9ead3;
}

.block3 {
    grid-area: block3;
    min-height: 200px;
}

.block4 {
    grid-area: block4; 
    background: #d9ead3;
}

.block5 {
    grid-area: block5;
    text-align: center;
    border-top: 2px solid #000;
}

.block6 {
    grid-area: block6;
    background: #cfe2f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}