body {
    margin: 0; padding: 0; font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column; 
    flex-grow: 1; 
}

.block {
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}


.main-area-flex {
    display: flex;
    flex-grow: 1;
}

.block1 {
    background: #cfe2f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block2 {
    width: 200px;
    background: #d9ead3;
    display: flex;
    flex-direction: column;
}

.block3 {
    flex: 1;
}

.block4 {
    width: 200px;
    background: #d9ead3;
    flex-shrink: 0;
    height: 100%;
}

.block5 {
    border-top: 2px solid #000;
    text-align: center;
}

.block6 {
    background: #cfe2f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-content-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.center-content-flex {
    display: flex;
    flex: 1;
}

.center-and-bottom {
    display: flex;
    flex-direction: column;
    flex: 1;
}

